

.blog-content--item
  background-color line-modifier-color
  text-align: center
  border-radius: radius-theme-size

.blog-content--title
  color: #555
  font-size 24px


.blog-content--author
  padding padding-space 0

.blog-content--pic
  width: auto
  height: 180px
  padding: padding-space 0

.blog-content--text
  padding: padding-space * 3
  text-align: left
  text-indent: 2em

.blog-content--text:hover 
  color: font-theme-color


.blog-content--tags
  text-align: right 
  padding-right: padding-space

.blog-tags--like,
.blog-tags--comment,
.blog-tags--hit
  padding: 0 padding-space
  color: font-modifier-color

.blog-tags--like:hover,
.blog-tags--comment:hover,
.blog-tags--hit:hover
  color: font-theme-color

.blog-content--time
  color: font-theme-color

.blog-content-never
  display: flex
  text-align: center
  flex-direction: column
  justify-content: center
  align-items: center
  height: 400px
  &.blog-item--btn
    width: 60px
  .blog-item--title
    margin-bottom: padding-space * 2